<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="card mt-4">
            <img src="<%=blog.url%>" alt="image" class="img-fluid card-img-top" style="max-height: 450px;" />
            <div class="card-body">
                <h5 class="card-title"><%=blog.title%></h5>
                <div class="meta">
                    <p><%=blog.created.toDateString()%></p>
                </div>
                <p class="card-text"><%=blog.body%></p>
                <a href="/blog/edit/<%=blog._id%>" class="btn btn-primary" style="display: inline;">Edit</a>
                <form action="/blog/<%=blog._id%>?_method=DELETE" class="ui form" method="POST"
                    style="display: inline;">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>