<% include ./partials/header %>

<div class="ui main text container mt-3">
    <div class="ui huge header jumbotron-fluid">
        Blog App
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach((blog) => { %>
            <div class="item">
                <div class="ui medium image">
                    <img src="<%=blog.url%>" alt="image" class="item">
                </div>
                <div class="content">
                    <div class="header">
                        <a href="/more/<%=blog._id%>" class="header"><%=blog.title%></a>
                    </div>
                    <div class="meta">
                        <span><%=blog.created.toDateString()%></span>
                    </div>
                    <div class="description">
                        <p><%=blog.body%></p>
                    </div>
                    <div class="extra">
                        <a href="/more/<%=blog._id%>" class="btn btn-primary">Read More...</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ./partials/footer %>